@import "variables";
@import "../lib/bootstrap/scss/bootstrap.scss";

html {
    font-size: 14px;

    @media (min-width: 768px) {
        font-size: 16px;
    }

    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-word;
}

a {
    color: #0077cc;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem $prime-color;
    border-color: $prime-color;
}

.btn.btn-prime {
    color: white;
    background-color: $prime-color;
    //width: auto !important;
    display: inline-block !important;

    &:hover {
        background-color: rgba(31, 31, 31, 0.95);
    }

    &:focus,
    &:active,
    &:focus:active {
        background-color: $prime-color;
        color: white;
    }
}

.nav-link {
    color: white;

    &:hover {
        color: white;
    }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: white;
    background-color: $primary;
    border-color: darken($primary, 10%);
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.form-check-input:checked {
    background-color: $prime-color;
    border-color: $prime-color;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.sidebar {
    background-color: $prime-color;
    color: white;
}

.required::after {
    content: " *";
    color: red;
}

.nav-link-active {
    background-color: $nav-link-bg-color;
    color: white;
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
        color: white;
    }
}

.main {
    background-color: $body-bg;
}

.step-section {
    padding: 2rem;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    background: white;
}