//$body-bg: #f3f2f3;
$prime-color: rgb(31, 31, 31, 90%);
$nav-link-bg-color: rgb(96, 94, 96);
$font-family-sans-serif: 'PT Sans', system-ui, -apple-system, sans-serif;
$headings-font-family: 'PT Sans', Georgia, serif;